@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&family=Sofia+Sans:wght@300;500&display=swap');

/* Hide the default scrollbar */
::-webkit-scrollbar {
    width: 0px;
    background-color: #000;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


Body{
    padding: 0;
    margin: 0;
    top: 0px;
    background: #000;
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    overflow-x: hidden;
    font-size: 1.37rem;
    line-height: 40px;
}
a{
    color: #fff;
    text-decoration: none;
    transition: 150ms;
}
a:hover{
    color: #000;
    background: #fff ;
    padding: 10px;
}

nav h1{
    font-family: 'Playfair Display', serif;
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 10px;
    margin-top: 15px;
}

nav .nav-links{
    min-width: 50vw;
    display: flex;
    justify-content: flex-end;
}

nav .nav-links a{
    color: #FFF;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px;
    transition: 150ms;
    padding: 10px;

}

nav .nav-links a:hover{
    color: #000;
    background-color: #FFF;
}

header{
    position: sticky;
    top: 0;
}


nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    background-color: #000;
    background: rgba(0, 0, 0, 0.40);
    backdrop-filter: blur(10px);

}

.hero-image{
    margin-top: -60px;
}

.hero-image img{
    width: 100vw;
    object-fit:cover;
}

.Descp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.Descp img{
    width: 50vw;
    object-fit: cover;
    margin-top: 20px;
}

.know-more p{
    padding: 0px 2rem;
    max-height: 480px;
    overflow: scroll;
    text-align: justify;
    max-width: 1050px;
}

.know-more h2{
    font-size: 3.5rem;
    margin: 10px;
    font-family: 'Playfair Display', serif;


}

.know-more h4{
    font-family: 'Playfair Display', serif;

}

.know-more{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    text-align: center;
    margin: 40px;
}

.projects, .social-media{
    min-height: 850px;

}

.social-media ul{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
}

.social-media .nav-links a{
    color: #FFF;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    margin: 15px;
    transition: 150ms;
    padding: 10px;

}

.social-media .nav-links a:hover{
    color: #000;
    background-color: #FFF;
}

.know-more-button{
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    font-weight: bold;
    transition: 150ms;
    font-family: 'Playfair Display', serif;

}

.know-more-button:hover{
    color: #000;
    background-color: #FFF;

}

section{
    margin-bottom: 15px;
}


/* 
.projects{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
} */

@media (max-width: 1024px) {
    /* Styles for tablets */
    .know-more {
        margin: 20px;

        /* display: none; */
    }

    .know-more p{
        max-height: 300px;

    }
    .projects, .social-media{
        min-height: 250px;
    
    }
    .social-media ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 250px;
    }

}



@media (max-width: 768px) {
    Body{
    padding: 0;
    margin: 0;
    top: 0px;
    background: #000;
    color: #fff;
    font-family: 'Sofia Sans', sans-serif;
    overflow-x: hidden;
    font-size: 6px;
    line-height: 8px;
    }
    
    /* Styles for tablets */
    .know-more {
        margin: 10px;

        /* display: none; */
    }

    .know-more p{
        max-height: 800px;

    }
    .projects, .social-media{
        min-height: 780px;
    
    }
    .know-more h2{
        font-size: 2rem;
    
    
    }
    .know-more-button{
        font-size: 1.4rem;
    }
    .Descp img{
        width: 100vw;
        height: 40vh;
        object-fit:cover;
        margin-top: 20px;
    }

    nav .nav-links{
        display: none;
    }
    .Descp{
        display: flex;
        flex-wrap:wrap;
    }
    .social-media ul{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 250px;
    }
    .hero-image{
        display: none;
    }
}
