@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');


body{
  font-family:'Abel', sans-serif; 
  padding: 0%;
  margin: 0%;
  background-color: #000;
}

.body{
  height: 97vh;
  border-style: solid;
  border-width: 10px;
  border-color: #000;
  border-radius: 20px;
  border: outside;
  background-color: #fff;
  padding-left: 110px;
  padding-right: 110px;
  

}

nav{
  position:static;
  top:0;
  left:0;
  width: auto;
  margin-top: 20px;
}

.frostlogo{
  font-size:36px;
  color: #2176FF;
  border-style: solid;
  border-width: 2px;
  border-color: #31393c;
  border-radius: 6px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  width: max-content;
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80vh;
  flex-wrap: nowrap;
}

.black{
  font-size: 64px;
  color: #31393c;
}

.blue{
  color:#2176FF;
  font-size:64px;  
}

.renovation{
  width: 35%;

}

@media screen and (max-width: 1240px) {
  .black {
    font-size: 50px;
  }
  .blue {
    font-size: 50px;  
  }
  .renovation{
    width: 35%;
  }
  .frostlogo{
    font-size: 30px
  }
}

@media screen and (max-width: 1024px) {
  .black {
    font-size: 44px;
  }
  .blue {
    font-size: 44px;  
  }
  .renovation{
    width: 35%;
  }
  .frostlogo{
    font-size: 24px
  }
}

@media screen and (max-width: 768px) {
  .black {
    font-size: 30px;
  }
  .blue {
    font-size: 30px;  
  }
  .renovation{
    width: 35%;
  }
  .frostlogo{
    font-size: 18px
  }
}

@media screen and (max-width: 425px) {
  .black {
    font-size: 36px;
  }
  .blue {
    font-size: 36px;  
  }
  .renovation{
    width: 75%;
  }
  .frostlogo{
    font-size: 12px;
    border-width: 0.5px;
  }
  .row{
    flex-direction: column;
    justify-content: space-around;
  }
  .body{
    padding-left: 20px;
    padding-right: 20px;
    border-width: 5px;
  }
}


